#board{
  width:800px;
  height:800px;
  background-color:black;
  position:relative;
}

#player{
  width:32px;
  height:32px;
  background-color:grey;
  position:absolute;
}

#bomb{
  width:32px;
  height:32px;
  background-color:yellow;
  position:absolute;
  /* display: none; */
}

.not-visible {
  display: none;
}

.visible {
  display: block;
}
