#board{
  width:800px;
  height:800px;
  background-color:black;
  position:relative;
}

.badguy{
  width:32px;
  height:32px;
  background-color:red;
  position:absolute;
}

.wall {
  width:32px;
  height:32px;
  background-color:#483829;
  position:absolute;
}

#player{
  width:32px;
  height:32px;
  background-color:green;
  position:absolute;
  z-index: auto;
}

#bomb{
  width:32px;
  height:32px;
  background-color:yellow;
  position:absolute;
  /* display: none; */
}

.not-visible {
  display: none;
}

.visible {
  display: block;
}
